header, section.banner{
    background-color: #ac405a;
}
header{
    width: 100%;
    height: 70px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0.8%;
}
.menu-header-navbar-container {
    width: 50%;
    display: flex;
    align-items: center;
}
ul#menu-header-navbar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: white;
}
.register-login-btn{
    width: 15%;
    display: flex;
    justify-content: space-between;
    padding-right: 1%;
}
.registerBtn{
    background-color: #799f28;
    padding: 3%;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}
button{
    color: white;
}
.search-input{
    display: flex;
    justify-content: flex-end;
    width: 25%;
    align-items: center;
}
input#search{
    width: 60%;
    background-color: transparent;
}
.img-search{
    width: 22px;
    height: 22px;
}
section.banner{
    height: 308px;
}
.first-banner{
    width: 100%;
    height: 100%;
    max-height: 250px;
    display: flex;
    justify-content: center;
}
.search-talents{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search-box{
    width: 80%;
    position: relative;
    display: flex;
}
.input-search{
    width: 60%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px 0 0 10px;
    border-right: none;
    outline: none;
}
.searchBtn{
    /* a po mun me ba najsen */
    /* e knaqa */
    text-align: center;
    height: 51px;
    width: 20%;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0 10px 10px 0;
    border-left: none;
    outline: none;
    border-left: 2px solid transparent;
    background-color: #799f28;
}
h2.search-title{
    font-size: 25px;
    color: white;
}